


.container {
	width: 100%;
	background: #CADEE0;
}

body {
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
  background: #CADEE0;
}

.canvas {
  	float: left;
  	margin-left: 20%;
 
	border: 5px solid #ABCCCF;*/
}

h1 {
	text-align: center;
	font-family: 'Monoton', cursive;
}

.infobox {
	font-size: 16px;
	margin: 0, 5px;
	font-weight: 700;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	background-image: linear-gradient( 
		to right, 
		#ABCCCF, #FCC50D);
}

.scoreboard {
	padding: 7px;
	font-family: 'Monoton', cursive;
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
}

.playerTurn {
	padding: 10px;
	font-family: 'Monoton', cursive;
	font-size: 16px;
	display: inline-block;
	margin-left: 20%;
}

@keyframes fade {
    from {background-color: #ABCCCF;}
    to {background-color: #FCC50D;}
}

.playerTurn.animated {
	animation-name: fade;
	animation-duration: 1s;
	padding: 10px;
	font-family: 'Monoton', cursive;
	font-size: 16px;
	display: inline-block;
	margin-left: 20%;
}

.scoredisplay {
	display: block;
}

.directions {
	margin-top: 5px;
	padding: 5px;
	font-style: bold;
	text-align: justify;
	font-size: 18px;

}

/*@media (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		display: block;
		width: 100%;
	}
}*/
