.scoreboard {
	clear: both;
	float: right;
	padding: 10px;
	margin-top: 15%;
	margin-right: 25%;
	border: solid 3px #202D33;
	color: #202D33;
	font-size: 16px;
	font-style: bold;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.canvas {
  position: absolute;
  top: 15%;
  left: 35%;
}

p.directions {
	position: absolute;
	top: 3%;
	left: 39%;
	padding: 20px;
	border: solid 3px #202D33;
	color: #202D33;
	font-size: 16px;
	font-style: bold;

}