* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.scoreboard {
	clear: both;
	float: right;
	padding: 5px;
	/*margin-top: 15%;*/
	margin-right: 25%;
	border: solid 3px #202D33;
	color: #202D33;
	font-size: 16px;
	font-style: bold;
}

.playerTurn {
	clear: both;
	float: right;
	padding: 5px;
	margin-top: 10%;
	margin-right: 25%;
	border: solid 3px #202D33;
	color: #202D33;
	font-size: 16px;
	font-style: bold;
}





.canvas {
  position: absolute;
  top: 15%;
  left: 35%;
}

p.directions {
	position: relative;
	width: 450px;
	top: 3%;
	left: 35%;
	padding: 5px;
	border: solid 3px #202D33;
	color: #202D33;
	font-size: 16px;
	font-style: bold;
	text-align: center;
	font-size: 18px;

}